In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("planets_raw.csv")

In [3]:
df.columns

Index(['planet', 'mass', 'diameter', 'density', 'gravity', 'escape_velocity',
       'rotation_period', 'length_of_day', 'distance_from_sun', 'perihelion',
       'aphelion', 'orbital_period', 'orbital_velocity', 'orbital_inclination',
       'orbital_eccentricity', 'obliquity_to_orbit', 'mean_temperature',
       'surface_pressure', 'number_of_moons', 'has_ring_system',
       'has_global_magnetic_field'],
      dtype='object')

In [4]:
df = df[['planet', 'mass', 'diameter']]
df

    planet       mass  diameter
0  Mercury     0.3300      4879
1    Venus     4.8700     12104
2    Earth     5.9700     12756
3     Mars     0.6420      6792
4  Jupiter  1898.0000    142984
5   Saturn   568.0000    120536
6   Uranus    86.8000     51118
7  Neptune   102.0000     49528
8    Pluto     0.0146      2370

In [5]:
df[df['planet'] == "Jupiter"]

    planet    mass  diameter
4  Jupiter  1898.0    142984

In [6]:
df['mass'] /= float(df.loc[df['planet'] == "Jupiter", 'mass'])
df['diameter'] /= float(df.loc[df['planet'] == "Jupiter", 'diameter'])

In [7]:
df.dtypes

planet       object
mass        float64
diameter    float64
dtype: object

In [8]:
df

    planet      mass  diameter
0  Mercury  0.000174  0.034123
1    Venus  0.002566  0.084653
2    Earth  0.003145  0.089213
3     Mars  0.000338  0.047502
4  Jupiter  1.000000  1.000000
5   Saturn  0.299262  0.843003
6   Uranus  0.045732  0.357509
7  Neptune  0.053741  0.346388
8    Pluto  0.000008  0.016575

In [9]:
float(df.loc[df['planet'] == "Jupiter", 'mass'])

1.0

In [10]:
df = df.rename(columns={'planet':'Planet','mass':'Mass', 'diameter':'Radius'})

In [11]:
df

    Planet      Mass    Radius
0  Mercury  0.000174  0.034123
1    Venus  0.002566  0.084653
2    Earth  0.003145  0.089213
3     Mars  0.000338  0.047502
4  Jupiter  1.000000  1.000000
5   Saturn  0.299262  0.843003
6   Uranus  0.045732  0.357509
7  Neptune  0.053741  0.346388
8    Pluto  0.000008  0.016575

In [12]:
df.to_csv('planets.csv', index=False)